.sections section {
    min-height: 100vh;
    position: relative;
}

.sections section:nth-child(2n - 1) {
    background-color: black;
    color: var(--white);

    ::selection{
        color: var(--black);
        background-color: var(--white);
    }
}

.sections section:nth-child(2n) {
    background-color: white;
    color: var(--primary-color);

    ::selection{
        color: var(--white);
        background-color: var(--black);
    }
}

#home .img-div {
    grid-area: img;
}

#home .title-text-div {
    grid-area: text-content;
}